# Optional : Residential proxy
HTTPS_PROXY=

# Optional : SSH proxy
HTTP_PROXY= 

# Totally Optional : identity tokens extracted from google account login with youtube 
YTS_IDENTITY_TOKEN=

# Optional: Path to cookies.txt file for authenticated requests (e.g., age-restricted content)
# compulsory if using Stream Fetcher & transcripts 
YOUTUBE_COOKIES_FILE=cookies.txt
