# Optional : Residential proxy
HTTPS_PROXY=

# Optional : SSH proxy
HTTP_PROXY= 

# Optional: Path to cookies.txt file for authenticated requests (e.g., age-restricted content)
# compulsory if using Stream Fetcher & transcripts 
# YOUTUBE_COOKIES_FILE=cookies.txt
